/**
 * Navigation
 */
.main-navigation {
	width: 100%;
	padding: 1rem 0;

	ul {
		display: none;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li:hover > ul,
			li.focus > ul {
				left: 100%;
			}

			a {
				width: 200px;
			}
		}
	}

	li {
		position: relative;
		font-size: 1.1875rem;
		font-weight: bold;
		font-weight: 600;
	}

	a {
		display: inline-block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}

	.main-navigation div > ul > li {
		display: inline;
		position: relative;
		margin-right: 1em;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}